/**
 * Main css file
 */

body {
	margin:0px;
	padding:0px;
	font-family:monospace;
}

#wrapper {
	position:relative;
	width:800px;
	margin:0px auto;
	padding:0px;
	text-align:center;
	overflow:auto;
}

#header {
	margin:0px;
	padding:30px 0px 10px 0px;
	text-align:center;
	overflow:auto;
}
#header h1 { text-align:center; font-size:18px; color:rgba(0,0,0,1); margin:0px; padding:0px; }
#header h2 { text-align:center; font-size:12px; color:rgba(0,0,0,0.5); margin:0px; padding:0px; }

#stats {
	position:absolute;
	padding:5px;
	font-size:14px;
	text-align:right;
	top:30px;
	right:0px;
	border:1px solid black;
}

nav {
	margin:0px auto;
	display:inline-block;

	font-size:14px;
	overflow:auto;
}

.nav-item {
	float:left;
	padding:5px 20px;
}
.active { color:rgba(0,0,0,0.8); }

#content {
	text-align:left;
	font-size:14px;
	min-height:500px;
}

.section {
	overflow:auto;
	position:relative;
}

footer {
	width:100%;
	text-align:center;
	color:rgba(0,0,0,0.3);
	font-size:12px;
	padding:30px 0px;
}

.link { color:rgba(0,0,0,0.5); cursor:pointer; }
.link:hover { color:rgba(0,0,0,0.65); }
pre { padding:0px; margin:0px; }
